{% extends 'site_base.html' %}

{% block main %}

	<div class="col-xs-12 panel panel-default plain-list">
		<h2>{{ object.user.get_full_name }}</h2>
		<a href="{{ object.scene.get_absolute_url }}"><h4>{{ object.scene }}</h4></a>
		{% if object.localoccurrence_set.all %}
		<ul><h3>shows</h3>
			{% for occ in object.localoccurrence_set.all %}
			<li><a href="{{ occ.get_absolute_url }}"><h4>{{ occ.start|date:"M j, P" }} - {{ occ.event.title }}</h4></a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if object.post_set.all %}
		<ul><h3>posts</h3>
			{% for post in object.post_set.all %}
			<li><a href="{{ post.get_absolute_url }}"><h4>{{ post.feed.title }} » {{ post.title }}</h4></a></li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>

{% endblock %}
