{% extends 'site_base.html' %}

{% block main %}
	<div class="panel panel-default plain-list">
	<ul><h3>{{ object }}</h3>
	{% for comic in object.comic_set.all %}
		<li><a href="{{ comic.get_absolute_url }}"><h4>{{ comic.user.get_full_name }}</h4></a></li>
	{% empty %}
		<h4>We don't know of anyone here. You should do comedy!</h4>
	{% endfor %}
	</ul>
	</div>
{% endblock %}
	
