{% extends 'feeds/base.html' %}

        {% block social_data %}
        <meta property="og:url" content="{{ blog.get_absolute_url }}" />
        <meta property="og:type" content="blog" />
        <meta property="og:title" content="{{ blog.title }}" />
        <meta property="og:description" content="{{ blog.description }}" />
        <meta property="og:image" content="{{ entry.cover.get_blog_post_url }}" />
        <meta property="og:image" content="http://www.fartlyfe.com/media/images/logos/share-logo.png" />
        {% endblock %}

{% block title %} {{ blog.title }}{% endblock %}

{% block center_content %}
        <div id="head-line" class="episode-title">
            <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
        </div>{% for entry in latest %}
        <div class="entry">
            <div class="head-line"><a href="{{ entry.get_absolute_url }}">{{ entry.pub_date|date:"m/d" }} » {{ entry.title }}</a></div>
                <div class="entry-main">
                    <div class="entry-body">
                        {{ entry.body|safe }}
                    </div>
                    {% if entry.gallery %}<div id="gallery">
                        {% for photo in entry.gallery.photos.all %}
                        <div class="gallery-photo">
                            <img src="{{ photo.get_blog_post_url }}">
                        </div>{% endfor %}
                    </div>{% endif %}
                    <div class="author-name">–– {% for author in entry.blog.authors.all %}{{ author.get_full_name }} {% endfor %}</div>
                    <div id="tags"><a href="/blogs/tags/">Tag{{ entry.tags|pluralize }}</a> : {% for tag in entry.tag.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.title }}  </a>{% endfor %}</div>
                    <div id="page-link"><a href="{{ entry.get_absolute_url }}#disqus_thread">Comment</a></div>
                </div>
            </div>{% endfor %}

{% endblock %}
