{% extends 'feeds/base.html' %}

{% block main %}
            
	<div>
		<ul><h3>all feeds</h3>
		{% load endless %}
		{% lazy_paginate object_list %}
		{% for feed in object_list %}
		<li>
			<a href="{{ feed.get_absolute_url }}">
				<div class="panel feed-item col-xs-7" style="background-color:{{ feed.color }}">
					<h3 class="panel-header">{{ feed.title }}</h3>
					<img class="col-xs-12" src="{{ feed.image.url }}">
				</div>
			</a>
		</li>
		{% endfor %}
		{% show_more %}
		</ul>
   	</div>
 
{% endblock %}

