{% extends 'feeds/base.html' %}

{% block title %} archive {{ month|date:"F Y" }}{% endblock %}

{% block center_content %}{{ block.super}}
    <div id="archive-title">{% if previous_month %}<a href="/blog/archive/{{ previous_month|date:"Y" }}/{{ previous_month|date:"b" }}/"><< {{ previous_month|date:"F Y" }}</a> |{% endif %} {{ month|date:"F Y"}} {% if next_month %}| <a href="/blog/archive/{{ next_month|date:"Y" }}/{{ next_month|date:"b" }}/">{{ next_month|date:"F Y" }} >></a>{% endif %}</div>
        {% for post in object_list %}<div class="post">
            <a href="{{ post.get_absolute_url }}"><div class="post-title">{{ post.title }}</div></a>
        </div>{% endfor %}
{% endblock %}
