{% load endless %}
 
        {% lazy_paginate object_list %}
        {% for post in object_list %}
        <div class="post">
            <div class="head-line"><a href="{{ post.get_absolute_url }}">{{ post.pub_date|date:"m/d" }} » {{ post.title }}</a></div>
                <div class="post-main">
                    <div class="post-body">
                        {{ post.body|safe }}
                    </div>
                    {% if post.gallery %}<div id="gallery">
                        {% for photo in post.gallery.photos.all %}
                        <div class="gallery-photo">
                            <img src="{{ photo.get_feed_post_url }}">
                        </div>{% endfor %}
                    </div>{% endif %}
                    <div class="author-name">–– {% for author in post.feed.authors.all %}{{ author.get_full_name }} {% endfor %}</div>
                    <div id="tags"><a href="/blogs/tags/">Tag{{ post.tags|pluralize }}</a> : {% for tag in post.tag.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.title }}  </a>{% endfor %}</div>
                    <div id="page-link"><a href="{{ post.get_absolute_url }}#disqus_thread">Comment</a></div>
                </div>
            </div>{% endfor %}
            {% show_pages %}
