{% extends 'feeds/base.html' %}

{% block title %} {{ post.title }}{% endblock %}

        {% block social_data %}
        <meta property="og:url" content="{{ post.get_absolute_url }}" />
        <meta property="og:type" content="blog post" />
        <meta property="og:title" content="{{ post.title }}" />
        <meta property="og:description" content="{{ post.summary }}" />
        <meta property="og:image" content="http://www.fartlyfe.com/media/images/logos/share-logo.png" />
        <meta property="og:image" content="{{ post.cover.get_feed_post_url" />
        {% endblock %}

{% block center_content %}
        <div class="post">
            <div class="head-line">{{ post.pub_date|date:"m/d" }} » {{ post.title }}</div>
                <div class="post-main">
                    <div class="post-body">
                        {{ post.body|safe }}
                    </div>
                    {% if post.gallery %}<div id="gallery">
                        {% for photo in post.gallery.photos.all %}
                        <div class="gallery-photo">
                            <img src="{{ photo.get_feed_post_url }}">
                            {% if photo.caption %}
                            <div class="photo-caption">
                                {{ photo.caption }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>{% endif %}
                    <div class="author-name">–– {% for author in post.feed.authors.all %}{{ author.get_full_name }} {% endfor %}</div>
                    <div id="tags"><a href="/tags/">Tag{{ post.tags|pluralize }}</a> : {% for tag in post.tag.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.title }}  </a>{% endfor %}</div>
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5245ee0433860573"></script>
                </div>
                <!-- AddThis Button END -->
                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = 'fartlyfe';
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript';dsq.async = true;
                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>                            
                </div>
            </div>
{% endblock %}
