{% extends 'feeds/base.html' %}

        {% block social_data %}
        <meta property="og:url" content="{{ feed.get_absolute_url }}" />
        <meta property="og:type" content="feed" />
        <meta property="og:title" content="{{ feed.title }}" />
        <meta property="og:description" content="{{ feed.description }}" />
        <meta property="og:image" content="{{ post.cover.get_feed_post_url }}" />
        <meta property="og:image" content="http://www.fartlyfe.com/media/images/logos/share-logo.png" />
        {% endblock %}

{% block title %} {{ feed.title }}{% endblock %}

{% block center_content %}
        <div id="head-line" class="episode-title">
            <a href="{{ feed.get_absolute_url }}">{{ feed.title }}</a>
        </div>
        {% load endless %}
        {% lazy_paginate object_list starting from page 3 %}
        {% include page_template %}
{% endblock %}

{% block bottom_js %}
        {{ block.super }}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
        <script>$.endlessPaginate();</script>
{% endblock %}


