{% extends 'feeds/base.html' %}


{% block header_image %}
	{% load harpoon_tags %}
        {% get_header_image post.feed %}
{% endblock %}

{% block main %}
	{% load endless %}
	{% lazy_paginate object_list %}
	{% for post in object_list %}
		<div class="panel panel-default">
			<h3>{{ post.title }}</h3>
			<h5>{{ post.pub_date|date:"b d, Y" }}</h5>
			{% if post.comics_set.all %}
			<h4>with {% for comic in post.comics_set.all %}<a href="{{ comic.get_absolute_url }}">{{ comic.user.get_full_name }}</a> {% endfor %}</h4>
			{% endif %}
			{{ post.body|safe }}
		</div>
	{% endfor %}
	{% show_more %}
			

{% endblock %}

