{% extends "calendar/base.html" %}



{% block calendar %}
                <div id="day-week-calendar">
                    <div id="calendar-top" class="row">
                        <div id="categories">
                            <ul>
                                <li><p>{% if not current_category %}<strong>{% endif %}<a href=".">All events</a>{% if not current_category %}</strong>{% endif %}</li>
                                {% for category in categories %}
                                <li> • <p>{% if category == current_category %}<strong>{% endif %}<a href=".?category={{ category.pk }}">{{ category.name }}</a>{% if category == current_category %}</strong>{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <form action="." method="post">{% csrf_token %}
                            <input class="btn btn-default" type="submit" name="previous" value="previous" />
                            <input class="btn btn-default" type="submit" name="next" value="next" />
                            <input class="btn btn-default" type="submit" name="today" value="today" />
                        </form> 
                    </div>
                    <div class="week-day" class="row">
                        <div class="week-headers"><a href="{% url "calendar_day" year=day|date:'Y' month=day|date:'m' day=day|date:'d' %}">{{ day|date:'D m/d' }}</a></div>
                        {% for occurrence in occurrences %}
                        <div class="week-event panel panel-default">
                            <a href="{{ occurrence.get_absolute_url }}">
                                <div class="week-event-title"><p>{{ occurrence }} » {{ occurrence.event.localevent.location.name }}</p></div>
                                <div class="week-event-time"><p><strong>{{ occurrence.start|date:"P" }}</strong></p></div>
                            </a>
                        </div>
                        {% empty %}
                        <div class="week-event">
                            <div class="week-event-title"><p>NO LAUGHING!</p></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

{% endblock %}


