{% extends 'calendar/base.html' %}

{% block main %}
    <div id="event-info">
        <div id="event-left" class="panel panel-default col-md-6">
            <div id="event-date"><p><a href="{% url 'calendar_day' year=occurrence.start|date:"Y" month=occurrence.start|date:"m" day=occurrence.start|date:"d" %}">{{ occurrence.start|date:"l M j, Y" }} »</a></div>
            <div id="event-title"{% if occurrence.event.localevent.offical %} class="official-event">HARPOON PRESENTS - {% else %}>{% endif %}<p>{{ occurrence.title }}</p></div>
            <div id="event-time"><p>{{ occurrence.start|date:"P" }}</p></div>
            <div id="event-age-limit"><p>{{ occurrence.event.localevent.get_age_limit_display }}<p></div>
            <div id="event-price"><p>{% if occurrence.event.localevent.price %}${{ occurrence.event.localevent.price }}{% else %}Free{% endif %}</p></div>
            <div id="event-description"><p>{{ occurrence.description|safe }}</p></div>
	    {% if occurrence.localoccurrence.comics.all %}<h5>With {% for comic in occurrence.localoccurrence.comics.all %}<a href="{{ comic.get_absolute_url }}">{{ comic.user.get_full_name }}</a> {% endfor %}</h5>{% endif %}
        </div>
        <div class="col-md-6 col-xs-12">
            {% if occurrence.event.localevent.location %}
            <div id="event-location" class="panel panel-default">
                <div id="location-title"><p>{{ occurrence.event.localevent.location.name }}</p></div>
                {% if occurrence.event.localevent.location.website %}
                <div id="location-website"><p><a href="{{ occurrence.event.localevent.location.website }}">website</a></p></div>
                {% endif %}
                {% if occurrence.event.localevent.location.phone_number %}
                <div id="location-number"><p>{{ occurrence.event.localevent.location.phone_number }}</p></div>
                {% endif %}
                <div id="location-address">
                {% for piece in occurrence.event.localevent.location.get_full_address %}
                    <p>{{ piece }}</p>
                {% endfor %}
                </div>
                <div id="location-map" class="map-canvas">
                    {% load location_info %}
                    {{ occurrence.event.localevent.location|json_info|safe }}
                </div>
            </div>{% endif %}
        </div>
    </div>


{% endblock %}

