{% extends 'calendar/base.html' %}


{% block calendar %}
                <div id="day-week-calendar">
                    <div id="calendar-top">
                        <div id="categories">
                            <ul>
                                <li>{% if not current_category %}<strong>{% endif %}<a href=".">All events</a>{% if not current_category %}</strong>{% endif %}</li>
                                {% for category in categories %}
                                <li> • {% if category == current_category %}<strong>{% endif %}<a href=".?category={{ category.pk }}">{{ category.name }}</a>{% if category == current_category %}</strong>{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <form action="." method="post">{% csrf_token %}
                            <input type="submit" name="previous" value="previous" />
                            <input type="submit" name="next" value="next" />
                            <input type="submit" name="today" value="today" />
                        </form> 
                    </div>
                    <div class="calendar-week">
                    {% for date, occurrences, hours_list, current in week %}
                        <div class="week-day">
                            <div class="week-headers"><a href="{% url "calendar_day" year=date|date:'Y' month=date|date:'m' day=date|date:'d' %}">{{ date|date:'D m/d' }}</a></div>
                            {% for occurrence in occurrences %}
                            <div class="week-event">
                                <a href="{{ occurrence.get_absolute_url }}">
                                    <div class="week-event-title">{{ occurrence }} » {{ occurrence.event.localevent.location.name }}</div>
                                    <div class="week-event-time">{{ occurrence.start|date:"P" }}</div>
                                </a>
                            </div>
                            {% empty %}
                            <div class="week-event">
                                <div class="week-event-title">nothing today folks</div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
{% endblock %}



