
a {
    color:#0d1a24;
}

a:hover {
    color:#333;
}

header a {
    margin: 0px 0px 20px 0px;
    color:#FFF;
    text-decoration:none;
}

header a:hover {
    color:#FFF;
    text-decoration:none;
}

header ul {
    list-style:none;
    padding:0px;
    margin:0px -35px 10px -10px;
}

header li {
    display:inline-block;
}

header h3 {
    font-weight:100;	
}

header h3:hover {
    text-decoration:underline;
}

.calendar-image {
    padding:0px 0px 15px 0px;
}

@media (max-width: 12000px) {
.header-top {
    font-size:115px;
    margin: -20px 0px -55px 0px;
    }

.header-bottom {
    font-size:109px;
    }

header h3 {
    font-size:40px;
    margin:0px 60px 0px 30px;
    }

}


@media (max-width: 1200px) {
.header-top {
    font-size:93px;
    margin: -15px 0px -48px 0px;
    }

.header-bottom {
    font-size:89px;
    }

header h3 {
    font-size:35px;
    margin:0px 40px 0px 25px;
    }

}

@media (max-width: 990px) {
.header-top {
    font-size:70px;
    margin: -12px 0px -40px 0px;
    }

.header-bottom {
    font-size:67px;
    }

header h3 {
    font-size:40px;
    margin:-10px 45px 0px 20px;
    }

header ul {
    text-align:center;
    }


}

@media (max-width: 759px) {
.header-top {
    font-size:37px;
    margin: -5px 0px -30px 0px;
    text-align:center;
    }

.header-bottom {
    font-size:36px;
    text-align:center;
    }

header h3 {
    font-size:20px;
    margin:0px 10px;
    }

header ul {
    text-align:center;
    margin:0px 0px 5px 0px;
    }

}

.big-shadow {
    text-shadow:0px 2px 2px rgba(0,0,0,1);
}

.panel {
    padding: 8px;
    background-color:#f1f2f2;
}

#calendar-top>form>input {
    margin:0px 0px 10px 8px;
}

.main {
    color:#333;
    text-decoration:underline;
}

.map-canvas {
    color:#FFF;
    height:300px;
}

.plain-list li {
	list-style-type:none;
	margin-left:10px;
}

ul h3 {
	color:#f1f2f2;
	
}

.feed-item {
	padding:0px 10px 10px 20px;
}

