<!DOCTYPE html>
<html lang="en">
    <head>
        <title>harpoon presents</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% load staticfiles %}
        {% block header_links %}{% endblock %}
        <link href="{% static 'css/harpoon.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body style="background-color:{% block background_color %}#0d1a24{% endblock %}">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-md-4">
			<a href="/">
			    <img class="col-xs-12" src="http://dfr1ie9bx00ol.cloudfront.net/media/photologue/photos/site_logo.png">
			</a>
		    </div>
		    <div class="col-md-8">
			{% block header_image %}
                        {% endblock %}
		    </div>
                </div>
		<div class="row">
		    <div class="col-xs-12">
			<ul class="nav-list">
				<a href="{% url 'listen_feeds' %}"><li><h3>podcasts</h3></li></a>
				<a href="{% url 'watch_feeds' %}"><li><h3>videos</h3></li></a>
				<a href="{% url 'calendar_current_month' %}"><li><h3>shows</h3></li></a>
				<a href="{% url 'comics_list' %}"><li><h3>comics</h3></li></a>
		        	<li>
            			  <div class="panel panel-default">
                			<div class="panel-header">
                    				<h5 class="panel-title">search</h5>
                			</div>
            			  </div>
				</li>
			</ul>
    	             </div>
          	</div>
            </header>
            {% block center_block %}
            {% endblock %}
        </div> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAhTLTDTMlPTop5wkX34vIzN1ZlWndWho0&sensor=false"></script>
    	<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    	<script>
            $.endlessPaginate({
            	paginateOnScroll: true,
            	paginateOnScrollMargin: 500
        	});
    	</script>
        <script src="{% static 'js/harpoon.js' %}"></script>
        {% block bottomjs %}{% endblock %}
    </body>
</html>
                    
