
    {% load endless %}
    {% lazy_paginate object_list %}
    {% for post in object_list %}
    <div class="panel panel-default">
        <div class="panel-header">
            <h4 class="panel-title">{{ post.title }}
        </div>
        <div class="panel-body">
            <p>{{ post.pub_date|date:"N j" }}</p>
            {{ post.body|safe }}
        </div>
    </div>
    {% endfor %}
    {% show_more %}
