{% extends 'base.html' %}

{% block center_block %}
    <div class="row">
        <div class="col-md-9">
            {% block main %}
            {% endblock %}
        </div>
        <div class="col-md-3">
            <a href="http://www.facebook.com/harpoonpresents"><img src="http://harpoonpresents.com/media/photologue/photos/f_logo_40px.gif" alt="Facebook"/></a>
            </br>
            <a href="http://www.twitter.com/harpoonpresents"><img src="http://harpoonpresents.com/media/photologue/photos/Twitter40px.png" alt="Twitter"/></a>
            <div class="panel panel-default">
                <div class="panel-header">
                    <h5 class="panel-title">shows soon</h5>
                    {% load local_calendar_tags %}
                    {% render_upcoming_events event_amount=5 %}
                </div>
            </div>
            {% for feed in recent_feeds %}
            <div class="panel panel-default">
                <div class="panel-header">
                    <a href="{{ feed.get_absolute_url }}"><h4 class="panel-title">{{ feed.title }}</h4></a>
                </div>
                <div class="panel-body" style="backround-color:{{ feed.color }}">
                    <ul>
                    {% for post in feed.post_set.all %}
                    <li>
                    <a href="{{ post.get_absolute_url }}">
                        <h5>{{ post.title }}</h5>
                    </a>
                    </li>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="panel panel-default">
                <a href="/about/">
                    <h5 class="panel-title">about</h5>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


