{% for show in occurrences %}
    <a href="{{ show.get_absolute_url }}"><h5>{{ show.start|date:"N j, P" }} »</br> {{ show.title }}</h5></a></br>
{% empty %}
    <h5>sorry. no shows coming up.</h5>
{% endfor %}

