{% for show in shows %}
    <a href="{{ show.get_absolute_url }}"><h5>{{ show.start|date:" " }} » {{ show.occurrence.title }}</h5></a>
{% empty %}
    <h5>sorry. no shows coming up.</h5>
{% endfor %}


